#item {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#item td, #item th {
    border: 1px solid #ddd;
    padding: 8px;
}

#item th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


#shipto {
    margin: 20px 0 40px 20px;
    border: 3px solid #5a5a5a;
    padding: 10px 0px 10px 40px;
    font-size: medium;
}

.gray-text-box {
    background-color: #c0c0c0;
    padding: 10px 0px 10px 40px;
    margin: 30px 10px 0px 10px;
    border-radius: 10px;
    border-style: inset;
}

.btn-primary {
    margin: 20px 20px 10px 10px;
}

.btn-danger {
    margin: 20px 0px 10px 0px;
}