#image-not-found {
  display: inline-block;
  background-color: rgb(163, 163, 163);
  color: white;
  width: 200px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image-not-found span {
  display: inline-block;
  font-size: 20em;
  font-family: 'Times New Roman';
  line-height: 100%;
}

#equipment-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 5px;
}

#price {
  font-size: x-large;
  margin: 20px 0px -15px 0px;
}

.label {
  font-size: large;
  font-weight: bolder;
  margin: 40px 20px 20px 20px;
}

#description-content {
  margin: 0px 25px 20px 25px;
  padding: 10px 10px 10px 20px;
  background-color: rgb(209, 209, 209);
  border: 2px solid rgb(173, 173, 173);
  border-radius: 15px;
}

#back {
  font-size: large;
  margin: 20px 0px 40px 20px;
  padding: 10px 40px 10px 40px;
  border-radius: 25px;
}