<div class="row">
  <div class="col-4">
    <div id="image-not-found" *ngIf="!equipment?.imagePath">?</div>
    <img *ngIf="equipment?.imagePath" [src]="equipment?.imagePath" [alt]="equipment?.name" width="200px">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col">
        <div id="name" class="row">{{equipment?.name}}</div>
        <div class="row">{{equipment?.category}}</div>
        <div id="price" class="row">Price: {{equipment?.pricePerDay | number}} FT / DAY</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="row label">Description:</div>
    <div id="description-content" class="row">{{ equipment?.details }}</div>
  </div>
</div>
<hr>
<div class="row">
  <button id="back" type="button" class="btn btn-success" (click)="onClickBack()">Back</button>
</div>
