.list-group-item {
    position: relative;
    z-index: 5;
}

.list-group-item:hover {
    border: 2px solid black;
}

#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.processing {
    background-image: linear-gradient(to right, rgb(230, 196, 4), rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0));
}

.preparing {
    background-image: linear-gradient(to right, rgb(230, 196, 4), rgb(230, 196, 4),rgba(0,0,0,0), rgba(0,0,0,0));
}

.delivering {
    background-image: linear-gradient(to right, rgba(59, 134, 233, 0.616),  rgba(59, 134, 233, 0.616), rgba(59, 134, 233, 0.616), rgba(0,0,0,0));
}

.delivered {
    background-image: linear-gradient(to right, rgb(0, 255, 98), rgb(16, 161, 2));
}

.canceled {
    background-image: linear-gradient(to right, rgb(255, 68, 68), rgb(224, 16, 16));
}