<div class="row">
    <div class="col-4">
        <span id="image-not-found" *ngIf="!equipment?.imagePath"><span>?</span></span>
        <img *ngIf="equipment?.imagePath" [src]="equipment?.imagePath" [alt]="equipment?.name" width="200px">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col">
                <div id="name" class="row">{{equipment?.name}}</div>
                <div class="row">{{equipment?.category}}</div>
                <div id="price" class="row">Price: {{equipment?.pricePerDay | number}} FT / DAY</div>
            </div>
        </div>
        <div class="row label">Owner:</div>
        <div id="owner" class="row">
            <div class="col">
                <div class="row">Name: {{ equipment?.owner.name }}</div>
                <div class="row">Email: {{ equipment?.owner.email }}</div>
                <div class="row">Phone number: {{ equipment?.owner.phoneNumber}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row label">Description:</div>
        <div id="description-content" class="row">{{ equipment?.details }}</div>
    </div>
</div>
<div class="row">
    <div id="rent" class="col-6">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onClickRent()">Rent</button>
    </div>
</div>
<hr>
<div class="row">
    <button id="back" type="button" class="btn btn-success" (click)="onClickBack()">Back</button>
</div>