#currency {
  font-size: large;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
}

#category {
  margin-top: -20px;
  margin-bottom: -3px;
}

.btn-outline-success {
  margin-bottom: 20px;
}

.buttons {
  position: absolute;
  z-index: 10;
  top: 16px;
  right: 5px;
}

.buttons-place {
  width: 230px;
}
